/*----- FONTS --------*/
@import url('https://fonts.googleapis.com/css?family=Vollkorn:400,400i,700');
/*----- UNIVERSALS --------*/
.vollkorn-text {
	font-family: 'Vollkorn', serif;
	color: #fff;
}
h5 {
	font-size: 2em;
	letter-spacing: 7px;
	font-size: 50px;
}
.bg		{
	background-image: url('../img/dna.jpg');
	height:   1000px;
	background-size: cover;
	background-position: center;
}
.aligner {
  display: flex;
  align-items: center;
  justify-content: center;
}
.aligner-item {
  max-width: 30%;
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/*----- NAV BAR --------*/

/*----- JUMBOTRON --------*/

/*----- CONTENT --------*/
