/*----- FONTS --------*/
@import url('https://fonts.googleapis.com/css?family=Vollkorn:400,400i,700');
/*----- UNIVERSALS --------*/
.vollkorn-text {
	font-family: 'Vollkorn', serif;
	color: #fff;
}
.bg		{
	background-image: url('../img/dna2.jpg');
	height:   1000px;
	background-size: cover;
	background-position: center;
}


/*----- TITLE --------*/
h5 {
	font-size: 2em;
	letter-spacing: 7px;
	font-size: 50px;
}
/*----- CONTENT --------*/
.aligner {
  display: flex;
  align-items: center;
  justify-content: center;
}
.aligner-item {
	display: flex;
  align-items: center;
  justify-content: center;
}
