/*----- FONTS --------*/
@import url('https://fonts.googleapis.com/css?family=Vollkorn:400,400i,700');
/*----- UNIVERSALS --------*/
.vollkorn-text {
	font-family: 'Vollkorn', serif;
	color: #fff;
}
.bg		{
	background-image: url('../img/dna2.jpg');
	height:   1000px;
	background-size: cover;
	background-position: center;
}


/*----- TITLE --------*/
h5 {
	font-size: 2em;
	letter-spacing: 7px;
	font-size: 50px;
}
/*----- NAV BAR --------*/
.title {
	color: #fff;
	text-shadow: 2px 2px 8px #000;
}
.navbar-default {
	background-color: transparent;
	border: none;
	position: fixed;
}
.navbar-right {
	padding-top: 15px;
	background-color: rgba(0, 0, 0, 0.35);
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
}
.navbar-default .navbar-nav>li>a {
  color: #fff;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
  color: #F8512F;
  background-color: rgba(0, 0, 0, 0.25);
  text-shadow: 1px 1px rgba(0, 0, 0, .4);
}
/*----- CONTENT --------*/

.aligner-item {
	margin-top: 50px;
	display: flex;
  align-items: center;
  justify-content: center;
}
